@import "./reset.css";
/* Global styles */
body {
	margin: 0 auto;

	font-family: "Verdana", "﻿Courier", sans-serif;

	letter-spacing: 2px;
	background-image: url(../images/journeybg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #262d37;
	background-position: center center;

}
a:active, a:focus {
	outline: none;
}
header {
	height: 56px;
	background-color: rgba(0, 0, 0, 0.4);
	align-items: center;
	display: flex;
	justify-content: space-between;

}

.logo {
  margin-left: 50px;
	margin-right: 550px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

.logo-link {
	text-decoration: none;
}
.logo:hover {
	color: #3cb878;
}


.icon {
	background-image: url("../images/icon-sprite.png");
	display: inline-block;
	margin-right: 28px;
}


.icon.calendar {
	width: 19px;
	height: 19px;
	background-position: 0 0;
}

.icon.calendar:hover {
	background-position: 0 23px;
}

.icon.forum {
	width: 28px;
	height: 20px;
	background-position: -19px 0;
}

.icon.forum:hover {
	background-position: -19px 23px;
}
.icon.journey {
	width: 21px;
	height: 20px;
	background-position: -48px 0;
}
.icon.journey:hover{
	background-position: -48px 23px;
}

.user {
	margin-right: 80px;
}

.user-label {
	font-size: 14px;
	color: #ffffff;
}
.user-label-or {
	font-size: 14px;
	color: #ffffff;
}

.user-log-in {
	font-size: 14px;
	color: #3cb878;
	text-decoration: none;
}
.user-log-in:hover {
	text-decoration: underline;
}

.user-sign-up {
	font-size: 14px;
	color: #3cb878;
	text-decoration: none;
}
.user-sign-up:hover {
	text-decoration: underline;
}

.field-form {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;


}
.user-form {
	position: relative;
  width: 444px;
	height: 584px;
	background-color: #ffffff;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;


}


.inputtext {
	width: 322px;
	height: 46px;
	font-size: 14px;
	padding-left: 17px;
	-webkit-appearance: none;
	border: 1px solid #ccd0d5;
	border-radius: 5px;




}







