@import "./reset.css";
/* Global styles */
body {
	margin: 0 auto;
	width: 1366px;
	font-family: "Verdana", "﻿Courier", sans-serif;
	color: #ffffff;
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #262d37;
}

a:active, a:focus {
	outline: none;
}

/*HEADER*/
.logo {
	margin-top: 49px;
	margin-left: 154px;
	margin-bottom: 45px;
	float: left;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left;
}

.logo:hover {
	background-image: url(../images/logocolor.png);
	background-repeat: no-repeat;
	background-position: left;
}

.logo-link {
	text-decoration: none;
}

.logo-text {
	padding-left: 61px;
	display: block;
	float: left;
	font-size: 29px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.logo-text:hover {
	color: #f26522;
}

.logo-text-bottom {
	display: block;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
}

.contact {
	margin-top: 57px;
	margin-right: 147px;
	float: right;
	text-align: right;
}

.contact-email {
	margin-bottom: 5px;
	font-size: 18px;
}

.contact-phone {
	font-size: 18px;
}

/*SECTION GALLERY*/
.gallery {
	margin-left: 154px;
	float: left;
}

.gallery-part {
	position: relative;
	margin-right: 65px;
	margin-bottom: 58px;
	float: left;
}

.gallery-image {
	margin-bottom: 22px;
	border: 2px solid #fefefe;
	border-image: linear-gradient(to bottom, #fefefe, #040404) 1%;
}

.gallery-details {
	position: absolute;
	top: 142px;
	display: none;
	width: 312px;
	height: 63px;
	background-color: #f26522;
}

.gallery-price-from {
	margin-bottom: 5px;
	margin-left: 21px;
	padding-top: 12px;
	display: block;
	font-size: 10px;
	letter-spacing: 1px;
}

.gallery-price {
	margin-left: 21px;
	padding-right: 120px;
	display: inline-block;
	font-size: 20px;
}

.gallery-details-info {
	display: inline-block;
	font-size: 14px;
}

.gallery-details-info::after {
	content: '\00A0' '\00A0' '\203A';
	color: #ffffff;
}

.gallery-part:hover .gallery-details {
	display: block;
}

.gallery-title-link {
	text-decoration: none;
}

.gallery-title {
	font-size: 18px;
	text-align: center;
	color: #ffffff;;
}

.gallery-title:hover {
	color: #f26522;
}

footer {
	margin-bottom: 20px;
	clear: both;
	text-align: center;
	font-size: 12px;
}

