@import "./reset.css";

/* Global styles */
body {
	margin: 0 auto;
	width: 1280px;
	font-family: "﻿Courier", sans-serif;
}
/*Header styles*/

/*Header Logo*/
.logo {
	padding-top: 61px;
	padding-bottom: 45px;
	font-size: 80px;
}

.logo-link {
	text-decoration: none;
	color: #4bcaff;
}

.logo-text {
	color: #000000;
}

/*Navigation top - menu*/

.nav {
	margin-bottom: 51px;
	text-align: center;
	background-color: #35444f;
}

.nav-list-item {
	padding: 26px 41px;
	display: inline-block;
}

.nav-list-item:hover {
	background-color: #222f3a;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.nav-link {
	font-size: 24px;
	text-decoration: none;
	color: #ffffff;
}

 /*Main Aside menu*/

.aside-menu {
	margin-right: 42px;
	width: 344px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #35444f;
}

.aside-menu-list-item {
	padding: 28px 0 28px 44px;
	font-size: 29px;
	text-align: left;
}

.aside-menu-list-item:hover {
	padding-left: 69px;
	background-color: #dbdbdb;
}

.aside-menu-link {
	text-decoration: none;
	color: #495863;
}

.aside-menu-link:hover {
	color: #000000;
}

/*Main Info*/
.main-info {
	display: inline-block;
	width: 885px;
}

.main-info-img {
	margin-bottom: 50px;
	height: 525px;
	text-align: center;
	border: 1px solid #35444f;
}

.info-img {
	padding-top:  75px;
	padding-bottom: 73px;
}

.info-text {
	padding-left: 30px;
	padding-right: 40px;
	font-size: 18px;
	line-height: 1.3;
	color: #2c2c2c;
}

.info-text-ru {
	margin-bottom: 30px;
}

.info-text-la {
	margin-bottom: 51px;
}

/*Footer*/

footer {
	margin-bottom: 30px;
	background-color: #b4b7ba;
}

.block-bottom-menu, .copyright {
	display: inline-block;
}

.block-bottom-menu {
	padding: 22px 0 21px 44px;
}

.bottom-menu-item {
	padding-right: 10px;
	display: inline-block;
}

.bottom-menu-link {
	font-size: 26px;
	text-decoration: none;
	color: #0c1927;
}

.bottom-menu-link:hover {
	text-decoration: underline;
	color: #3181a6;
}

.copyright {
	padding-left: 208px;
	font-size: 24px;
	color: #19191a;
}