@import "./reset.css";
/* Global styles */
body {
	margin: 0 auto;
	width: 1280px;
	font: 700 16px/1.6 "AdobeInvisFont", "Roboto-Black", sans-serif;
	color: #373737;
	letter-spacing: 2px;
}

/* Navigation menu  */
.nav-menu {
	height: 78px;
	text-align: center;
}

ul {
	padding-top: 25px;
}

li {
	display: inline;
	padding-right: 50px;
}

a {
	font-size: 18px;
	color: #16a085;
	text-decoration: none;
	text-transform: uppercase;
}

/* Main content */
.top-img {
	display: block;
	height: 790px;
}

.about-me {
	padding: 59px 108px 94px 113px;
	background-color: #f5f6f7;
}

h2 {
	margin-bottom: 16px;
	font-size: 22px;
	text-align: center;
	text-transform: uppercase;
}

.text-about-me {
	margin-bottom: 41px;
	height: 354px;
	text-align: center;
	overflow: hidden;
}

.first-paragraph {
	text-indent: 40px;
}

button {
	margin: 0 auto;
	display: block;
	width: 192px;
	height: 51px;
	font: 500 12px "﻿GothamRounded-Bold", sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #16a085;
	border: none;
	border-radius: 4px;
}

/* Footer */
footer {
	height: 108px;
}

.footer-text {
	padding-top: 47px;
	padding-right: 104px;
	text-align: right;
}


